/*Copyright Forge Mathes 2018*/
body{
    /*background-color: rgb(181,230,29)*/
    /*background-image: linear-gradient(to bottom, #b5e61d, #b5e61d 40%, #ffaec9 40%);*/
    background-image: url('https://yourmomdotcom.github.io/images/plants.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    background-color:#b6caea;
    background-attachment: fixed;
    word-wrap: break-word;
}

.d1{
    font-family: 'Cantarell', sans-serif;
    width: 100%;
    padding:0px;
    margin:0px;
    background-color:#ad2d2d;
    opacity: 0.98;
    position: sticky;
    top: -30px;
}

.d1h{
    text-align: left;
    font-size: 5em;
    color:#fffbe7;
}

.d1p{
    text-align: center;
    font-size: 1em;
    color:#eefbe7;
}


.l1{
    padding-left:6px;
    padding-right:6px;
}

a.l1:link{
    color:#eefbe7;
    text-decoration:none;
}

a.l1:visited{
    color:#eefbe7;
    text-decoration:none;
}

a.l1:hover{
    color:#b6caea;
    text-decoration:none;
}

a.l1:active{
    color:#eefbe7;
    text-decoration:none;
}


/*
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    
}
*/

.space{
    padding:200px;
}

.d3{
    align-content: center;
    background-color: #fffbe7;
    padding: 60px;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    font-size: 1.25em;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-bottom: 600px;
}



.hd3{
    font-family: 'Quattrocento', sans-serif;
    padding-bottom:10px;
    padding-top:15px;
    
    
}

button{
    align-content: center;
    background-color: #906042;
    border: none;
    color: #fffbe7;
    padding: 8px 11px;
    text-align: center;
    font-family: 'Quattrocento', serif;
    display: inline-block;
    font-size: 1.25em;
}
   
button:hover{
    background-color:#b08062;
    color:#dfdbc7;
}

p{
    padding:10px;
    font-family: 'Quattrocento', serif;
}

.right{
    float: right;
    padding-top: 30px;
    padding-right:60px;
}
