body{
    /*background-color: rgb(181,230,29)*/
    /*background-image: linear-gradient(to bottom, #b5e61d, #b5e61d 40%, #ffaec9 40%);*/
    background-image: url('https://yourmomdotcom.github.io/images/plants.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    background-color:#b6caea;
    background-attachment: fixed;
}

.d1{
    font-family: 'Cantarell', sans-serif;
    width: 100%;
    padding:0px;
    margin:0px;
    background-color:#ad2d2d;
    opacity: 0.98;
    position: sticky;
    top: -30px;
}

.d1h{
    text-align: left;
    font-size: 5em;
    color:#fffbe7;
}

.d1p{
    text-align: center;
    font-size: 1em;
    color:#eefbe7;
}

a:link{
    color:#eefbe7;
    text-decoration:none;
}

a:visited{
    color:#eefbe7;
    text-decoration:none;
}

a:hover{
    color:#00FFFF;
    text-decoration:none;
}

a:active{
    color:#eefbe7;
    text-decoration:none;
}


/*
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    
}
*/

.space{
    padding:200px;
}

.d3{
    font-family: 'Quattrocento', serif;
    align-content: center;
    background-color: #fffbe7;
    padding: 60px;
    max-width: 880px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    font-size: 1.25em;
    line-height: 1.5;
    letter-spacing: 1px;
}

p{
    padding:10px;
}

